<nav class="">
	<div class="container">
		<div
			class="navbar navbar-expand-lg header-top-top pb-0 justify-content-between my-auto"
			style="align-items: center"
		>
			<div
				class="logo nabar-brand"
				itemscope
				itemtype="http://schema.org/Organization"
			>
				<a href="index.html">
					<img
						src="images/TL_Macroklinika_logo_Horizontal.png"
						itemprop="logo"
						alt="Tritonlife"
					/>
				</a>
				<meta content="TritonLife" itemprop="name" />
			</div>

			<div class="p-2 pt-3" style="font-size: 12px">
				<a href="tel:+36706598888" class="nav-link fw-bold"
					>IDŐPONTFOGLALÁS: +36 70 500 1818</a
				>
				<p>HÉTKÖZNAP: 08<sup>00</sup>-20<sup>00</sup></p>
			</div>
			<div class="p-2 pt-3 ml-auto my-auto" style="font-size: 12px">
				<a href="tel:+36706598888" class="nav-link fw-bold"
					>RADIOLÓGIAI ELŐJEGYZÉS +36 70 500 2391</a
				>
				<p>
					H: 08<sup>00</sup>-18<sup>00</sup>, K-SZ-CS:
					08<sup>00</sup>-20<sup>00</sup>, P: 08<sup>00</sup>-16<sup
						>00</sup
					>
				</p>
			</div>

			<div class="p-2 ml-auto">
				<a
					type="button"
					href="https://medicall.cc/idopontfoglalas/macroklinika/index"
					class="btn btnMain fw-bold text-white"
				>
					Időpontfoglalás
				</a>
			</div>
		</div>

		<div class="navbar navbar-expand-lg header-top-bottom p-0">
			<div
				class="collapse navbar-collapse mainMenu p-0"
				id="collapsibleNav"
			>
				<ul class="navbar-nav w-100 justify-content-between">
					<li class="nav-item">
						<a class="nav-link" href="szolgaltatasok.html"
							>Szolgáltatásaink
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="araink.html"> Árak </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="csomagajanlatok.html"
							>Csomagajánlatok
						</a>
					</li>
					<!-- <li class="nav-item dropdown">
						<button type="button" class="btn btn-borderless">
							Csomagajánlataink
						</button>
						<button
							type="button"
							class="btn btn-borderless dropdown-toggle dropdown-toggle-split"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							<span class="visually-hidden"
								>Csomagajánlataink</span
							>
						</button>
						<div
							class="dropdown-menu"
							aria-labelledby="navbarDropdown-3"
						>
							<a
								class="dropdown-item"
								href="#"
								>Várandósgondozási csomagok</a
							>
							<a
								class="dropdown-item"
								href="#"
								>Szülés csomagok</a
							>
							<a
								class="dropdown-item"
								href="#"
								>Csecsemőgondozási csomagok</a
							>
						</div>
					</li> -->
					<li class="nav-item dropdown">
						<button type="button" class="btn btn-borderless">
							Rólunk
						</button>
						<button
							type="button"
							class="btn btn-borderless dropdown-toggle dropdown-toggle-split"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							<span class="visually-hidden">Rólunk</span>
						</button>
						<div
							class="dropdown-menu"
							aria-labelledby="navbarDropdown-4"
						>
							<a class="dropdown-item" href="klinikarol.html"
								>Klinikáról</a
							>
							<a class="dropdown-item" href="munkatarsak.html"
								>Munkatársaink</a
							>
							<a class="dropdown-item" href="hirek.html">Hírek</a>
							<a class="dropdown-item" href="galeria.html"
								>Galéria</a
							>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="elerhetoseg.html">
							Elérhetőség
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
